body{
    padding: 0px;
    margin: 0px;
}

.maindiv{
    background: #f2fbff;
}
.heading-01 {
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
        // text-transform: uppercase;
}
