// Resets
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
blockquote,
pre,
code,
hr,
table,
fieldset,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Merriweather Sans,sans-serif !important;
}

// Typography
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: Merriweather Sans;
  

}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

button{
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

// Form Elements
input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}
