// discription-css

.index-notif-inner {
  text-align: center;

  a {
    font-weight: 600;
    text-decoration: underline;
  }
}

.prod-descript-left {
  p {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    font-family: Montserrat, sans-serif;
  }
}

.roadmap__title {
  p {
    span {
      color: #fff !important;
    }
  }
}

.promo {
  .min_banner {
    .col-md-2 {
      width: 16.66666667%;

      img {
        width: 150px;
        height: auto;
      }
    }

    .col-md-10 {
      width: 83.33333333%;

      p {
        span {
          color: #fff !important;
        }
      }

    }
  }
}
.text-white {
  color: $white;
}

.content-inner-2 {
  h2 {
    font-size: 30px;
    line-height: 1.2;
    color: #373737;
    font-weight: 700;
  }

  .row_mrg0 {

    .col-md-3 {
      width: 25%;
      float: left;

      .icon-bx-wraper.style-1 {
        margin: 0px 15px;
        padding: 40px 0px;
      }
    }

    .icon-bx-md {
      display: flex !important;
      align-items: center;
      justify-content: center;
      margin: auto;
      position: relative;

      &::before {
        content: "";
        // background-image: url('../images/yellow-side.png');
        position: absolute;
        right: -33px;
        top: -15px;
        height: 133px;
        width: 82px;
        background-position: 100%;
        z-index: 999;
        transition: all .5s;
      }

    }

    .icon-bx-wraper {
      position: relative;
    }


  }

}

.Microsoft_Windows {
  margin-top: 40px;

  .row_mrg0 {
    display: flex;

    .col-md-5 {
      width: 41.66666667%;
      margin-bottom: 0px !important;

      .dz-media {
        padding-right: 15px;
        padding-left: 15px;
        width: 72%;
        text-align: center;
        float: right;

        img {
          height: 55%;
        }
      }
    }

    .col-md-7 {
      width: 58.33333%;

      .section-head3 {
        padding-right: 15px;
        padding-left: 15px;

        p {
          font-weight: 500;
        }
      }
    }
  }

  .dz-media2 {
    img {
      height: 72%;
    }
  }
}

.steps {
  font-family: Montserrat, sans-serif;

  .col-lg-4 {
    width: 33.33333%;

    .step {
      margin: 0px 15px;

      .step__icon {
        img {
          height: auto;
        }
      }

      p {
        font-weight: 500;
      }
    }
  }
}

.roadmap {
  font-family: Poppins;

  .row_mrg0 {
    .col {
      text-align: center;
      width: 100%;

      p {
        font-weight: 500;
      }
    }
  }
}

.talbe_responsivesd {
  font-family: Poppins;
  width: auto !important;

  .table_tds {
    font-weight: 500;
  }
}



.containerproduct {
  width: 90% !important;
  max-width: 90%;
  margin: auto;
  font-family: Poppins;
}

.indexContainer {
  margin-top: 100px;
}

#prodSpecific {
  margin: auto;

  .table_tdsspace {
    border-collapse: collapse;
  }
}

.prod-descript-row {
  .prod-descript-right {
    font-family: Poppins;

    p {
      line-height: 120%;
      font-weight: 500;
      // span{
      //   color: #000 !important;
      // }
    }
  }
}



// discription-css
// Spacing
.mt-0 {
  margin-top: 0 !important;
}

.mt4 {
  margin-top: 30px !important;
}

.mt5 {
  margin-top: 40px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.ml0 {
  margin-left: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}
.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.msauto {
  margin-left: auto;
}

// Text Alignment
.text-left {
  text-align: left !important;
}

.textright {
  text-align: right !important;
}

.textcenter {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

// Font Weight
.font-weight-light {
  font-weight: lighter !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

// Display
.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

// Flexbox Alignment
.align-items-start {
  align-items: flex-start !important;
}

.alignitemscenter {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

// Justify Content
.justify-content-start {
  justify-content: flex-start !important;
}

.justifycontentcenter {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

// Text Transform
.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

// Visibility
.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif !important;
}
.bg-white {
  background-color: $white;
}
.primary-button {
  display: inline-block;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #158db3;
  padding: 10px;
  font-family: $poppins;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  transition: 0.4s ease-in;

  &:hover {
    background: #0d6580;
    cursor: pointer;
    transition: 0.4s ease-in;
  }

  &[disabled] {
    opacity: 0.4;
  }
}

.secondary-button {
  display: inline-block;
  outline: none;
  border: none;
  background-color: $grey-03;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 600;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s ease-in;
  font-family: $poppins;

  &:hover {
    background-color: #158db3;
    transition: 0.4s ease-in;
    color: $white;
  }

}

.tertiary-button {
  padding: 8px 15px;
  display: inline-block;
  outline: none;
  border: none;
  font-family: $poppins;
  font-size: 14px;
  background-color: $grey-03;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all 0.3s;

  &:hover {
    border: 1px solid $blue-01;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transition: all 0.3s;
  }

}
.blue-btn {
  font-family: $poppins;
  @include font(18px);
  padding: 10px 30px;
  background-color: $primary-color-03;
  border-radius: 10px;
  color: $white;
  transition: 0.4s ease-in; 
  &:hover {
    background: #0d6580;
    cursor: pointer;
    transition: 0.4s ease-in;
  }
}